
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f4f8;
    min-height: 100vh;
}




.recuperacion-card {
    width: 100%;
    max-width: 520px;
    padding: 35px;

    background-color: white;

    border-radius: 15px;
}



.logo-recuperacion {
    width: 170px;
    max-width: 100%;
}



.recuperacion-card h1 {
    color: #123574;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}




.descripcion {
    color: #52677d;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}



.alert {
    font-size: 14px;
    margin-bottom: 20px;
}



.form-label {
    color: #123574;
    font-size: 15px;
    font-weight: bold;
}



.form-control {
    height: 45px;
    font-size: 15px;
}

.input-group-text {
    background-color: #123574;
    color: white;
    border-color: #123574;
}



.btn-primary {
    background-color: #123574;
    border-color: #123574;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #d4a72c;
    border-color: #d4a72c;
}



.volver {
    color: #0556ee;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.volver:hover {
    text-decoration: underline;
}




.icono-exito {
    width: 70px;
    height: 70px;

    margin: auto;

    border: 4px solid #b8e5a2;
    border-radius: 50%;

    color: #70c54a;

    font-size: 40px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}




.modal-title {
    color: #123574;
    font-weight: bold;
}

.modal-body {
    color: #52677d;
}


@media (max-width: 576px) {

    .recuperacion-card {
        max-width: 95%;
        padding: 25px 20px;
    }

    .logo-recuperacion {
        width: 140px;
    }

    .recuperacion-card h1 {
        font-size: 23px;
    }

    .descripcion {
        font-size: 14px;
    }

}